*{
  font-family: proxima-nova, sans-serif;
}
.menu{
  margin:0px;
}

.footlist{
  list-style-type: none;
}

.hero{
  font-size: 6vh;
  font-style: normal;
  font-weight: 900;
}
.hero2{
  font-size: 5vh;
  font-style: normal;
  font-weight: 900;
}

.herof{
  font-size: 10vh;
  font-style: normal;
  font-weight: 900;
}

.faqn{
  font-size: 12vh;
  font-style: normal;
  font-weight: 900;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/*Strip the ul of padding and list styling*/
/*/*/*nav ul {
    list-style-type:none;
    position: absolute;
/*    right: 30px;*/
}
/*Create a horizontal list with spacing*/
nav li {
    display:inline-block;
    float: left;
    margin-right: -2px;
}
/*Style for menu links*/
nav li a {
    display:block;
    height: 50px;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
    color: black;

}/*/
/*Hover state for top level links*/
/*nav li:hover a {
    background: black;
    color:white;
}*/
/*Style for dropdown links*/
/*nav li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}*/
/*Hover state for dropdown links*/
/*nav li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}*/
/*Hide dropdown links until they are needed*/
nav li ul {
    display: none;
}
/*Make dropdown links vertical*/
nav li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
nav li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
nav ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    color: #fff;
    background: black;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 970px){
    /*Make dropdown links appear inline*/
    nav ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    nav li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    nav ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

.jwbutton{
	color: white;
	background: black;
	min-width: 200px;
	border-radius: 30px;
  padding: 10px;
  font-weight: 900;
}

hr.d {
  border: 1px solid black;
}

hr.dd {
  border: 1px solid #ffffff;
}
/*input*/

input[type=text] {
  width: 60vw;
  padding: 20px 25px;
  margin: 2vh 0vh;
  box-sizing: border-box;
  background-color: black;
  color:#ffffff;
  border: 4px solid #ffffff;
}
input[type=email] {
  width: 60vw;
  padding: 20px 25px;
  margin: 2vh 0vh;
  box-sizing: border-box;
  background-color: black;
  color:#ffffff;
  border: 4px solid #ffffff;
}

/*Sections*/

.main{
    min-height: 83vh;
}
.section{
    padding-bottom: 5vh;
    padding-top: 5vh;
}


/*FAQ*/

.accordion {
  background-color: transparent;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.6s;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}